.container {
  max-width: 800px;
  padding: 0 20px;
  margin: 0 auto;
}

table {
  margin: 20px 0;
  width: 100%;
  border-collapse: collapse;
}
table td {
  border: 5px solid black;
  padding: 10px;
  width: 10px;
  height: 70px;
  text-align: center;
  vertical-align: middle;
}
.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
}
.black {
  background-color: black;
}
.blue {
  background-color: blue;
}

